.footer
	position absolute
	left 0
	bottom 0
	width 100%
	background-color $colorDark
	padding 0 50px
	color white
	text-align left
	padding $sm $md

h1, h2, ul, li, a
	display inline-block
	color $colorLight

li
	display inline-block
	padding 0 10px